gmail-to-whatsapp.json
{
  "name": "gmail-to-whatsapp",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "maxResults": 5,
        "filters": {
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -752,
        -624
      ],
      "id": "041494bc-d530-49ae-b096-31b323e97698",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "Rn0SG8bFoVBuaNAI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -576,
        -368
      ],
      "id": "a088be2b-e39f-495c-b72b-881965523be6",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "qVIQSh8Z65X1GoDY",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1cba4730-0b5f-4650-a1bc-caf8693fb2a0",
              "leftValue": "={{ $json.output }}",
              "rightValue": "=true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -176,
        -528
      ],
      "id": "442147a7-de6a-45cc-8224-f936cfc84ea5",
      "name": "If"
    },
{
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "options": {
          "systemMessage": "You are a strict technical filter. Analyze the incoming email text and as an email classifier,\n\nYour task is to determine whether an email is related to a software or technology job opportunity.\n\nReturn true if the email contains evidence of:\n- interview invitations\n- application reviews\n- recruitment or hiring discussions\n- job opportunities\n- technical assessments\n- coding tests\n- recruiter outreach\n- software engineering roles\n- web development roles\n- frontend, backend, full-stack, DevOps, QA, SRE, cloud, data engineering roles\n\nUse semantic understanding, not exact keyword matching.\n\nThe recipient's name is irrelevant and must be ignored.\n\nThe email may be incomplete or truncated. If the available text strongly suggests a technology hiring or recruitment context, return true.\n\nReturn false for:\n- personal conversations\n- gaming invitations\n- newsletters\n- advertisements\n- marketing emails\n- social messages\n- unrelated business communications\n\nOutput exactly one word:\ntrue\nor\nfalse"
        }
        
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -704,
        -624
      ],
      "id": "8ec18335-15ce-4de2-a995-d747fce129af",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Gmail Trigger').item.json.snippet }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.4,
      "position": [
        -416,
        -352
      ],
      "id": "1f1d6820-abd4-47dd-9a32-50881296bf74",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "VhyO6FfljEi4nmIh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution-api-service:8080/message/sendText/my_priority_alerts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $env.WHATSAPP_ALERT_NUMBER }}\",\n  \"textMessage\": {\n    \"text\": \"🚨 NEW PRIORITY TECH JOB ALERT 🚨\\n\\nFrom: {{$('Gmail Trigger').item.json.From}}\\nSubject: {{$('Gmail Trigger').item.json.Subject}}\\n\\n{{$('Gmail Trigger').item.json.snippet}}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        80,
        -560
      ],
      "id": "b11edf82-883e-4c37-bb52-89f237f91c77",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "eba66e78-d6bc-4305-adeb-aff0573b01a2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "nodeGroups": [],
  "id": "0DZwSP79EPZSWgDl",
  "tags": []
}
